#product_div{
    width: 90%;
    background-color: #dcdad7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 5em auto 1em auto;
}

#right_product{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#add {
    margin-top: 1em;
}

#add button {
    width: 8em;
    font-size: x-small;
    padding: 0.4em;
    border-radius: 8px;
    background-color: rgb(211, 100, 81);
    border: none;
    cursor: pointer;
    color: white;
}

#wish {
    margin-top: 1em;
    width: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-small;
    padding: 0.4em;
    border-radius: 8px;
    background-color: rgb(45, 87, 58);
    border: none;
    cursor: pointer;
    color: white;
}

#home {
    width: 100%;
    margin: 0.5em auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#home a button {
    width: 30%;
    padding: 0.7em;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 0.9em;
    background-color:  #c7701a;;
    color: white;
    font-size: x-small;
}

#go_to_cart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#go_to_cart a {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
}

#cart {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    background-color:  #c7701a;
    border-radius: 8px;
    padding: 0.5em;
    gap: 1em;
    font-size: x-small;
}

/* @media screen and (max-width: 430px) {
    #image, #info{
        display: none;
    }

  

    #image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
} */