.signindiv {
    margin: 12% auto;
    border: 1px solid #dcdad7;
    width: 30em;
    height: 35em;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #272626;
}

.heading {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 0.5em;
}

.signinform {
    background-color: #dcdad7;
    height: 70%;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    border: 1px solid #4a9276;
}

.signinform form {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em ;
    padding: 1em;
}

.signinform form input {
    width: 100%;
    margin: 1.5em auto;
    padding: 1em;
    outline: none;
    border-radius: 8px;
    border: 2px solid #4a9276;
}

.signinform form button {
    font-size: 1.5em;
    cursor: pointer;
    padding: 0.3em 1em;
    border: 1px solid #4a9276;
    border-radius: 8px;
    color: white;
    background-color: #f68b1e;
}

.signup {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}