*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
}

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        100deg,
        rgb(255, 255, 255),
        rgba(221, 250, 221, 0.8) 25%,
        rgba(255, 255, 204, 0.7) 50%,
        rgba(255, 204, 153, 0.6) 75%,
        rgba(255, 99, 71, 0.9)
);
font-family: 'Roboto', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;

}

.container{
    width: 100%;
    height: auto;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

header a {
    text-decoration: none;
}

header {
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #dcdad7;
    padding: 0.2em 0em;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

header .logo {
margin-left: auto;
cursor: pointer;
display: flex;
align-items: center;
justify-content: space-between;
}

header .logo a h1{
    color:#aa4a39;
}

header .logo a {
    text-decoration: none;
}

.humberg {
    margin-right: 1.5em;
    display: none;
}

header .search {
    flex: 0.60 0 8em;
    margin: auto 1em;
}
header .search form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    border: none;
}

.search form input {
    width: 80%;
    padding: 0.3em 0.8em;
    border-radius: 7px;
    outline: none;
    border: none;
}

.search form button {
    width: 14%;
    font-size: small;
    padding: 0.1em 0.2em;
    border-radius: 8px;
    background-color: #c55844;
    border: none;
    cursor: pointer;
    color: white;
}
header .nav {
    width: 30% ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
}

.nav .account, .help, .cart{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
    padding: 0.2em;
    border-radius: 0.3em;
    font-size: 1em;
}

.items_count{
    font-size: 0.8em;
    padding: 0.2em 0.3em;
    background-color: #ff8000;
    border-radius: 0.3em 0.3em 0 0;
    color: white;
}
.nav_item:hover {
    background-color: #f68b1e;
    color: white;
}

.account {
    border: none;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
   
}

.account #name {
    margin: 0 0.3em -0.2em 0.3em;
}

.holder { 
    position: relative;
}

#actions {
    position: absolute;
    top: 2.05em;
    left: -2em;
    background-color: #dcdad7;
    width: 12em;
    z-index: 1000;
    border-radius: 0 0 5px 5px;
    display: none;
}

#actions ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.2em 0.4em;
}

#actions ul:last-child {
    margin-bottom: 1em;
}

#actions ul li {
    margin: 0.2em;
    width: 100%;
    cursor: pointer;
}

#actions ul li .signin {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
    border-bottom: 1px solid rgb(194, 194, 194);
}

#actions ul li .signin button {
    background-color: #f68b1e;
    color: white;
    padding: 0.6em 3.2em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 1em;
}
.main_section{
    width: 90%;
    background-color: transparent;
}

.main_section .top_div {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    margin: 0.5em auto;
    margin-top: 3rem;
}

.main_section .top_div .left_div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    background: linear-gradient(
        135deg, 
        #ffffff,      /* Pure White */
        #e6ffe6 25%,  /* Light Green */
        #ffffcc 50%,  /* Pale Yellow */
        #ffcc99 75%,  /* Light Tomato */
        #ff6347       /* Tomato */
      );
}

.main_section .top_div .left_div ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 1em 1em 2em;
    gap: 0.2em;

}

.main_section .top_div .left_div ul li {
    width: 19%;
    padding: 0.2em;
    align-self: flex-start;
}

.main_section .top_div .left_div ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1em;
    color: rgb(34, 33, 33);
    gap: 0.8em;
    padding: 0.2em;
}

.main_section .top_div .left_div ul li a i {
    margin-left: 0.5em;
}

.main_section .top_div .left_div ul li a:hover {
    background-color: #f68b1e;
    border-radius: 8px;
    color: white;
}
.main_section .top_div .left_div ul li a .fas {
    margin-right: 5px;
}

.main_section .top_div .center_div {
    flex: 1 0 1em;
    height: 25em;
}

.carousel .track {
    display: flex;
    overflow: hidden;
}

.main_section .top_div .center_div .carousel, .track, li {
    width: 100%;
    height: 100%;
} 

.caro_img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

.active {
    opacity: 1;
    flex: 1 0 100%;
}

.main_section .top_div .center_div .carousel .track li img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.main_section .top_div .right_div {
    flex: 0.3 0 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    align-self: flex-start;
}

.main_section .top_div .right_div .top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
    border-radius: 7px;
    gap: 1em;
}

.main_section .top_div .right_div .top .top_item {
    width: 100%;
    display: flex;
    gap: 0.5em;
    cursor: pointer;
    padding: 0.1em;
}

.main_section .top_div .right_div .top .top_item  a {
    width: 100%;
    margin:0.5em auto ;
    display: flex;
    gap: 0.5em;
    cursor: pointer;
    padding: 0.3em;
    text-decoration: none;
    color: black;
}

.main_section .top_div .right_div .top .top_item a:hover {
    background-color: #f68b1e;
    border-radius: 8px;
    color: white;
}

.main_section .top_div .right_div .top .top_item a .icon {
    font-size: 2em;
    color: #435809;
    margin-left: 0.4em;
}

.main_section .top_div .right_div .top .top_item a .text h5 {
    font-size: 0.8em;
    margin-top: 0.3em;
    font-weight: 900;
}

.main_section .top_div .right_div .top .top_item a .text p {
    font-size: 0.7em;
}

.main_section .top_div .right_div .bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}

.main_section .top_div .right_div .bottom img {
    width: 100%;
    height: 9.4em;
    border-radius: 8px;
}

.main_section .top_div  .top_div_item {
    border-radius: 5px;
}

.main_section .top_div .center_div {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container .mid_div {
    width: 90%;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    background-color: transparent;

}
.container .mid_div .latest_products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container .mid_div .latest_products .title {
    width: 100%;
    background-color: #b53d3d;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.5em;
    color: white;
    border-radius: 6px 6px 0 0;

}

.container .mid_div .top_section {
    width: 100%;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 0 0 5px 5px;
    padding: 1em 1em 1em 4em ;
    box-sizing: border-box;

}

.top_section {
    gap: 0.4em;
}

.product_frame, .product_image {
    width: 9em;
    cursor: pointer;

}

.product_frame {
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    height: 12em;
    margin: 0.2em;
    position: relative;
    align-self: flex-start;
}

.percent {
    position: absolute;
    right: 1em;
    top: 0.8em;
    background-color: rgb(253, 207, 165);
    padding: 0.1em 0.3em;

}
.product_image a img {
    width: 100%;
    height: 8em;
    padding: 0.4em 0.4em 0 0.4em; 
    border-radius: 0.8em;
}

.product_image img:hover{
    transform: scale(1.1);
    /* border-radius: 50%; */
}

.product_info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.product_name, .product_price, .product_discount {
    width: 100%;
    padding-left: 0.5em;
}
.product_name {
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

 .product_price {
    font-size: 1em;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    
 }

 .product_discount {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 }

 .discount {
    border-radius: 10px;
    width: 45%;
    background-color: rgb(253, 207, 165);
    padding: 0.1em 0.3em;
    margin-right: auto;
    font-size: 0.8em;
    text-align: center;
    margin: auto;
 }

 .product_discount  button {
    margin-left: auto;
    margin-right: 0.8em;
    margin-top: 0.2em;
    padding: 0.1em 0.2em;
    width: 90%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #4a9276;
    color: white;
 }

 .container .mid_div {
    width: 90%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin: 0.5em  auto

}

.bottom_section {
    width: 90%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    margin: 0.5em  auto;
    padding-left: 1em;
    
}

.bottom_section .item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 8.5em;
    height: 10em;
    margin: 1em;

}

.bottom_section .item .image {
    width: 100%;
    height: 80%;
}

.bottom_section .item .image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.bottom_section .item .image img:hover {
    transform: scale(1.02);
}

.bottom_section .item .name {
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.topdeals_items{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    border-radius: 0 0 5px 5px;
    padding: 1em 1em 1em 4em;

}

.topdeals_items .product_frame {
    margin: 0.2em;
}

.topdeals_items .product_frame .product_image img {
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}

.top_deals {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 4.5em;

}
.top_deals .title {
    width: 100%;
    background-color: #b53d3d;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.5em;
    color: white;border-radius: 6px 6px 0 0;

}


footer {
    width: 100%;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* media query */

@media screen and (max-width: 720px) {
    .search button {
        display: none;
    }

    .nav .help {
        display: none;
    }

    .nav .account, .cart{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: px;
        cursor: pointer;
        padding: 0.2em;
        border-radius: 0.3em;
        font-size: small;
    }

    .main_section .top_div .left_div ul li {
        width: 22%;
        padding: 0.2em;
        align-self: flex-start;
    }

    .main_section .top_div .left_div ul li a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: small;
        color: rgb(34, 33, 33);
        gap: 0.8em;
        padding: 0.2em;
    }

    .main_section .top_div .right_div {
        display: none;
    }
    

}

@media screen and (max-width: 666px){

    .bottom_section {
        padding-left: 6em;
        
    }

    .topdeals_items{
        padding: 1em 1em 1em 7em;
    
    }

    .container .mid_div .top_section {
        padding: 0.5em 0.5em 0.5em 2em ;

    
    }
    

}


@media screen and (max-width: 520px) {
    header .logo {
        width: 100%;
        margin-left: 1em;
    }

    .humberg {
        display: block;
    }

    header .search {
        flex: 1 0 1em;
        margin: 1em;
    }

    .search form button  {
        font-size: smaller;
    }

    header .nav {
        /* display: none; */
        position: absolute;
        top: 6em;
        display: flex;
        justify-content: baseline;
        align-items: center;
        z-index: 1000;
        width: 100%;
        padding-bottom: 0.3em;
        background-color: #dcdad7;
    }

    .main_section {
        margin-top: 5em;
    }

    .main_section .top_div .center_div, .main_section .top_div .right_div {
        display: none;
    }
    
    .main_section .top_div .left_div ul {
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        padding: 0.3em 0.3em 0.3em 0.5em;
        gap: 0.2em;
        position: absolute;
        margin-top: 7.8em;
        background: linear-gradient(
            100deg,
            rgb(255, 255, 255),
            rgba(221, 250, 221, 0.8) 25%,
            rgba(255, 255, 204, 0.7) 50%,
            rgba(255, 204, 153, 0.6) 75%,
            rgba(255, 99, 71, 0.9)
    );

        z-index: 999;
    }
    
    .main_section .top_div .left_div ul li {
        width: 23%;
        padding: 0.4em;
        align-self: flex-start;
    }
    
    .main_section .top_div .left_div ul li a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: rgb(34, 33, 33);
        gap: 0.2em;
        padding: 0.3em;
        font-size: x-small;
    }

    .main_section .top_div .left_div {
        display: none;
    }

    .container .mid_div {
        gap: 1.5em;
    }

    .container .mid_div .latest_products .title {
        font-size: 0.8em;
        padding: 0.5em; 
    }

    .product_frame {
        border-radius: 3px;
        height: 10em;
        width: 28%;
        margin: 0.3em;
    }

    .product_frame .product_image a {
        width: 100%;
        cursor: pointer;
    
    }

    .product_image a img {
        width: 100%;
        height: 6em;
        padding: 0.2em 0.2em 0 0.2em; 
        border-radius: 0.8em;
    }
    
    .product_image img:hover{
        transform: none
        /* border-radius: 50%; */
    }
    
    .product_info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
    .product_name, .product_price, .product_discount {
        width: 100%;
        padding-left: 0.5em;
        font-size: small;
    }
    .product_name {
        height: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
     .product_price {
        font-size: small;
        font-weight: bold;
        align-items: center;
        justify-content: space-between;
        
     }
    
    
     .discount {
        border-radius: 10px;
        width: 45%;
        background-color: rgb(253, 207, 165);
        padding: 0.1em 0.3em;
        margin-right: auto;
        font-size: 0.8em;
        text-align: center;
        margin: auto;
     }
    
     .product_discount  button {
        margin-left: auto;
        margin-right: 1em;
        margin-top: 0.2em;
        padding: 0.1em 0.2em;
        width: 90%;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background-color: #4a9276;
        color: white;
     }

     .container .mid_div .top_section {
        width: 100%;
        background: transparent;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 0 0 5px 5px;
        padding: 0.5em 0.5em 0.5em 0.8em ;
        box-sizing: border-box;
        gap: 0.5em;
    
    }
    .topdeals_items {
        padding-left: 1.8em;
    }

    .percent {
        position: absolute;
        right: 0.1em;
        top: 0.1em;
        background-color: rgb(253, 207, 165);
        padding: 0.1em 0.3em;
        font-size: small;
    
    }
}


@media screen and (max-width: 436px) {

    .container .mid_div .latest_products .title {
        font-size: 0.7em;
        padding: 0.5em; 
    }

    .product_frame {
        border-radius: 3px;
        height: 10em;
        width: 40%;
        margin: 0.3em 0.3em 0.3em 1.5em;
    }

}

@media screen and (max-width: 430px) {
    .container .mid_div .latest_products .title {
        font-size: 0.7em;
        padding: 0.5em; 
    }

    .product_frame {
        border-radius: 3px;
        height: 10em;
        width: 100%;
        margin: 0.3em 0.3em 0.3em 1.5em;
    }

    .product_image, .product_image a  {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product_image a img {
        width: 40%;
    }

    .topdeals_items{
        width: 50%;
        gap: 2em;
    
    }
    
    .product_discount  button {
        width: 50%;
        margin-right: 7em;
    }

    .bottom_section {
        width: 90%;
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        border-radius: 5px;
        margin: 0.5em  auto;
        padding-left: 6em;
        
    }

    .top_section {
        gap: 2em;
    }
        
}





