*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
}

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: #000000; */
}

.container{
    width: 100%;
    height: auto;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

header a {
    text-decoration: none;
}

header {
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #dcdad7;
    padding: 0.8em 0em;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

header .logo {
margin-left: auto;
cursor: pointer;
}

header .logo a h1{
    color:#ff8000;
}

header .logo a {
    text-decoration: none;
}

header .search {
    flex: 0.63 0 8em;
    margin: auto 2em;
}
header .search form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    border: none;
}

.search form input {
    width: 80%;
    padding: 0.5em 1em;
    border-radius: 7px;
    outline: none;
    border: none;
}

.search form button {
    width: 12%;
    font-size: 1em;
    padding: 0.3em 0.1em;
    border-radius: 8px;
    background-color: #f68b1e;
    border: none;
    cursor: pointer;
    color: white;
}
header .nav {
    width: 25% ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
}

.nav .account, .help, .cart{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.3em;
    font-size: 1em;
}

.items_count{
    font-size: 0.8em;
    padding: 0.2em 0.3em;
    background-color: #ff8000;
    border-radius: 0.3em 0.3em 0 0;
    color: white;
}
.nav_item:hover {
    background-color: #f68b1e;
    color: white;
}

.account {
    border: none;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
   
}

.account #name {
    margin: 0 0.3em -0.2em 0.3em;
}

.holder { 
    position: relative;
}

#actions {
    position: absolute;
    top: 3em;
    left: -2em;
    background-color: #dcdad7;
    width: 12em;
    z-index: 1000;
    border-radius: 0 0 5px 5px;
    display: none;
}

#actions ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.2em 0.4em;
}

#actions ul:last-child {
    margin-bottom: 1em;
}

#actions ul li {
    margin: 0.2em;
    width: 100%;
    cursor: pointer;
}

#actions ul li .signin {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
    border-bottom: 1px solid rgb(194, 194, 194);
}

#actions ul li .signin button {
    background-color: #f68b1e;
    color: white;
    padding: 0.6em 3.2em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 1em;
}
.main_section{
    width: 90%;
}

.main_section .top_div {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
    margin-top: 5rem;
}

.main_section .top_div .left_div {
    flex: 0.3 0 0.5em;
    background-color: #dcdad7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main_section .top_div .left_div ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    padding: 0.6em;
}

.main_section .top_div .left_div ul li {
    width: 100%;
    margin-left: 6px;
    padding: 0.3em;
}

.main_section .top_div .left_div ul li:hover {
    margin-left: 1em;
    transition: ease-in-out 0.2s;
}


.main_section .top_div .left_div ul li a {
    width: 100%;
    text-decoration: none;
    font-size: 1em;
    color: rgb(34, 33, 33);
    padding: 0.2em;
}

.main_section .top_div .left_div ul li a:hover {
    background-color: #f68b1e;
    border-radius: 5px;
    padding: 0.2em;
    color: white;
}
.main_section .top_div .left_div ul li a .fas {
    margin-right: 5px;
}

.main_section .top_div .center_div {
    flex: 1 0 1em;
    height: 25em;
}

.carousel .track {
    display: flex;
    overflow: hidden;
}

.main_section .top_div .center_div .carousel, .track, li {
    width: 100%;
    height: 100%;
} 

.caro_img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

.active {
    opacity: 1;
    flex: 1 0 100%;
}

.main_section .top_div .center_div .carousel .track li img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.main_section .top_div .right_div {
    flex: 0.3 0 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    align-self: flex-start;
}

.main_section .top_div .right_div .top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #dcdad7;
    border-radius: 7px;
    gap: 1em;
}

.main_section .top_div .right_div .top .top_item {
    width: 100%;
    display: flex;
    gap: 0.5em;
    cursor: pointer;
    padding: 0.1em;
}

.main_section .top_div .right_div .top .top_item  a {
    width: 100%;
    margin:0.5em auto ;
    display: flex;
    gap: 0.5em;
    cursor: pointer;
    padding: 0.3em;
    text-decoration: none;
    color: black;
}

.main_section .top_div .right_div .top .top_item a:hover {
    background-color: #f68b1e;
    border-radius: 8px;
    color: white;
}

.main_section .top_div .right_div .top .top_item a .icon {
    font-size: 2em;
    color: #435809;
    margin-left: 0.4em;
}

.main_section .top_div .right_div .top .top_item a .text h5 {
    font-size: 0.8em;
    margin-top: 0.3em;
    font-weight: 900;
}

.main_section .top_div .right_div .top .top_item a .text p {
    font-size: 0.7em;
}

.main_section .top_div .right_div .bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}

.main_section .top_div .right_div .bottom img {
    width: 100%;
    height: 9.4em;
    border-radius: 8px;
}

.main_section .top_div  .top_div_item {
    border-radius: 5px;
}

.main_section .top_div .center_div {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container .mid_div {
    width: 90%;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5em;

}

.container .mid_div .title {
    width: 100%;
    background-color: #b53d3d;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.5em;
    color: white;border-radius: 6px 6px 0 0;

}

.container .mid_div .top_section {
    width: 100%;
    background-color: #dcdad7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 0 5px 5px;

}

.top_section {
    gap: 0.4em;
}

.product_frame, .product_image {
    width: 11em;
    cursor: pointer;

}

.product_frame {
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    height: 15em;
    margin: 0.5em;
    position: relative;
}

.percent {
    position: absolute;
    right: 1em;
    top: 0.8em;
    background-color: rgb(253, 207, 165);
    padding: 0.1em 0.3em;

}
.product_image img {
    width: 100%;
    height: 10em;
    padding: 0.4em 0.4em 0 0.4em; 
    border-radius: 8px 8px 0 0;
}

.product_image img:hover{
    transform: scale(1.1);
    border-radius: 50%;
}

.product_info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.product_name, .product_price, .product_discount {
    width: 100%;
    padding-left: 0.5em;
}
.product_name {
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

 .product_price {
    font-size: 1em;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    
 }

 .product_discount {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 }

 .discount {
    border-radius: 10px;
    width: 45%;
    background-color: rgb(253, 207, 165);
    padding: 0.1em 0.3em;
    margin-right: auto;
    font-size: 0.8em;
    text-align: center;
    margin: auto;
 }

 .product_discount  button {
    margin-left: auto;
    margin-right: 0.8em;
    padding: 0.1em 0.2em;
    width: 50%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #4a9276;
    color: white;
 }

 .container .mid_div {
    width: 90%;
    background-color: #dcdad7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin: 0.5em  auto

}

.bottom_section {
    width: 90%;
    background-color: #dcdad7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin: 0.5em  auto;

}

.bottom_section .item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 12em;
    height: 16em;
    margin: 0.2em;
}

.bottom_section .item .image {
    width: 100%;
    height: 80%;
}

.bottom_section .item .image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.bottom_section .item .image img:hover {
    transform: scale(1.02);
}

.bottom_section .item .name {
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.topdeals_items{
    width: 100%;
    background-color: #dcdad7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
    border-radius: 0 0 5px 5px;

}

.topdeals_items .product_frame {
    margin: 0.2em;
}

.topdeals_items .product_frame .product_image img {
    border-radius: 5em;
}

.top_deals {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 4.5em;

}
.top_deals .title {
    width: 100%;
    background-color: #b53d3d;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.5em;
    color: white;border-radius: 6px 6px 0 0;

}


footer {
    width: 100%;
    background-color: gray;
}