{{define "TOP DEALS"}}
<div class="top_deals">
    <div class="title">
      Top Deals
    </div>
    <div class="topdeals_items">
      <div class="product_frame">
        <div class="product_image">
          <img src="https://ke.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/29/294155/1.jpg?4756" alt="image" loading="lazy">
        </div>
        <div class="product_info">
          <div class="product_name">Amtec 32R1S, 32" Inch Smart Android TV 1GB DDR,8GB ROM,4-CORE LED TV (1YR WRTY)</div>
          <div class="product_price">KSh <span>11,099</span></div>
          <div class="product_discount">
            <div class="top_discount"><strike>KSh 19,000</strike></div>
          </div>
        </div>
        <div class="percent">-42%</div>
      </div>
      <div class="product_frame">
        <div class="product_image">
          <img src="https://ke.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/10/9016942/1.jpg?1978" alt="image" loading="lazy">
        </div>
        <div class="product_info">
          <div class="product_name">Itel S23+ 6.78", 128GB + 4GB RAM, 50MP Camera, (Dual SIM), 4G, 5000mAh - Energetic Orange</div>
          <div class="product_price">KSh <span>13,599</span></div>
          <div class="product_discount">
            <div class="top_discount"><strike>KSh 23,000</strike></div>
          </div>
        </div>
        <div class="percent">-41%</div>
      </div>
      <div class="product_frame">
        <div class="product_image">
          <img src="https://ke.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/95/0594772/1.jpg?8262" alt="image" loading="lazy">
        </div>
        <div class="product_info">
          <div class="product_name">Tecno Spark 30c, 6.67'' HD+, UP to 128GB ROM+ 4GB RAM +(4GB RAM Extended) (Dual Sim) 50MP, 5000 mAh - Orbit Black</div>
          <div class="product_price">KSh <span>13,999</span></div>
          <div class="product_discount">
            <div class="top_discount"><strike>KSh 14,999</strike></div>
          </div>
        </div>
        <div class="percent">-7%</div>
      </div>
      <div class="product_frame">
        <div class="product_image">
          <img src="https://ke.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/46/8987581/1.jpg?0158" alt="image" loading="lazy">
        </div>
        <div class="product_info">
          <div class="product_name">Nunix Hair Red Blow Dryer With Beauty Accessories HD-01</div>
          <div class="product_price">KSh <span> 854</span></div>
          <div class="product_discount">
            <div class="top_discount"><strike>KSh 910</strike></div>
          </div>
        </div>
        <div class="percent">-6%</div>
      </div>
      <div class="product_frame">
        <div class="product_image">
          <img src="https://ke.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/20/2282682/1.jpg?8244" alt="image" loading="lazy">
        </div>
        <div class="product_info">
          <div class="product_name">Sonar Stainless Steel 1.8Ltr Electric Kettle,1.5m Power Cord,1500W Fast Boil 1YR WRTY</div>
          <div class="product_price">KSh <span>549</span></div>
          <div class="product_discount">
            <div class="top_discount"><strike>KSh 749</strike></div>
          </div>
        </div>
        <div class="percent">-27%</div>
      </div>
      <div class="product_frame">
        <div class="product_image">
          <img src="https://ke.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/00/0324961/1.jpg?2092" alt="image" loading="lazy">
        </div>
        <div class="product_info">
          <div class="product_name">RichRipple Pro3 Bluetooth Headsets Wireless Pods Pro Earpods Earphones</div>
          <div class="product_price">KSh <span>465</span></div>
          <div class="product_discount">
            <div class="top_discount"><strike>KSh 754</strike></div>
          </div>
        </div>
        <div class="percent">-38%</div>
      </div>
      <div class="product_frame">
        <div class="product_image">
          <img src="https://ke.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/91/432928/1.jpg?7106" alt="image" loading="lazy">
        </div>
        <div class="product_info">
          <div class="product_name">Fashion 6Pcs Soft Cotton Checked Men's Boxers – Multicolor</div>
          <div class="product_price">KSh <span> 689</span></div>
          <div class="product_discount">
            <div class="top_discount"><strike>KSh 0</strike></div>
          </div>
        </div>
        <div class="percent">0%</div>
      </div>
      <div class="product_frame">
        <div class="product_image">
          <img src="https://ke.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/14/4350841/1.jpg?7535" alt="image" loading="lazy">
        </div>
        <div class="product_info">
          <div class="product_name">Istanbul 2 Modern TV Stand With LED Lights</div>
          <div class="product_price">KSh <span> 6,599</span></div>
          <div class="product_discount">
            <div class="top_discount"><strike>KSh 8,500</strike></div>
          </div>
        </div>
        <div class="percent">-22%</div>
      </div>
      <div class="product_frame">
        <div class="product_image">
          <img src="https://ke.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/21/883927/1.jpg?1896" alt="image" loading="lazy">
        </div>
        <div class="product_info">
          <div class="product_name">AILYONS HD-199A Electric Dry Iron Box Silver & Black (1YR WRTY</div>
          <div class="product_price">KSh <span> 849</span></div>
          <div class="product_discount">
            <div class="top_discount"><strike>KSh 1,399</strike></div>
          </div>
        </div>
        <div class="percent">-39%</div>
      </div>
      <div class="product_frame">
        <div class="product_image">
          <img src="https://ke.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/26/5994351/1.jpg?6214" alt="image" loading="lazy">
        </div>
        <div class="product_info">
          <div class="product_name">Skyworth F80215MB Front Load 8kg, Automatic Washer - Tim Grey(1YR WRTY)</div>
          <div class="product_price">KSh <span>42,999</span></div>
          <div class="product_discount">
            <div class="top_discount"><strike>KSh 56,999</strike></div>
          </div>
        </div>
        <div class="percent">-25%</div>
      </div>
    </div>
   </div>
   {{template "MID BOTTOM"}}
{{end}}