{{template "HEADER" .}}
{{if eq .Title "Home"}}
  {{template "HOME" .Data}}
{{else if eq .Title "Signin"}}
  {{template "SIGNIN" .}}
{{else if eq .Title "Signup"}}
  {{template "SIGNUP" .}}
{{else if eq .Title "Error"}}
  {{template "ERROR" .Data}}
{{else if eq .Title "cart"}}
  {{template "CART" .}}
{{else if eq .Title "product"}}
  {{template "PRODUCT" .Data}}
{{else if eq .Title "profile"}}
  {{template "PROFILE" .}}
{{else if eq .Title "hotdeals"}}
  {{template "TOP DEALS" .}}
{{end}}
{{template "FOOTER"}}