{{define "MID"}}
<div class="mid_div">
    <div class="latest_products">
      <div class="title">Latest In The Market</div>
      <div class="top_section">
        {{if .}}
          {{ range .}}
        <div class="product_frame">
          <div class="product_image">
            <a href="/product?id={{.Id}}">
            <img src="{{.Image}}" alt="image" loading="lazy">
            </a>
          </div>
          <div class="product_info">
            <div class="product_name">{{.Title}}</div>
            <div class="product_price">KSh <span>{{.Price}}</span></div>
            <div class="product_discount">
              <!-- <div class="discount">10% OFF</div> -->
              <button type="submit" id="add_to_cart">Add To Cart</button>
              <input type="hidden" id="product_id" value="{{.Id}}">
            </div>
          </div>
        </div>
          {{end}}
        {{else}}
          <p>>>>>Error Loading Data>>>></p>
        {{end}}
      </div>
    </div>
   </div>
{{end}}