{{define "MID BOTTOM"}}
<div class="bottom_section">
    <div class="item">
      <div class="image">
        <img src="https://ke.jumia.is/cms/2024/W49/Freelinks/FlashSales.png" alt="image" loading="lazy">
      </div>
      <div class="name">
        Flash Sales
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://ke.jumia.is/cms/2024/W49/Freelinks/Clearance.png" alt="image" loading="lazy">
      </div>
      <div class="name">
        Clearance Sale
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://ke.jumia.is/cms/2024/W49/Freelinks/Phones.png" alt="image" loading="lazy">
      </div>
      <div class="name">
        Phone Deals
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://ke.jumia.is/cms/2024/W49/Freelinks/HalfPrice.png" alt="image" loading="lazy">
      </div>
      <div class="name">
        Half Price Shop
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://ke.jumia.is/cms/2024/W49/Freelinks/Beauty.png" alt="image" loading="lazy">
      </div>
      <div class="name">
        Beauty Essentials
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://ke.jumia.is/cms/2024/W49/Freelinks/Laptop.png" alt="image" loading="lazy">
      </div>
      <div class="name">
        Laptop Deals
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://ke.jumia.is/cms/2024/W49/Freelinks/SmallAppliances.png" alt="image" loading="lazy">
      </div>
      <div class="name">
        Small Appliances
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://ke.jumia.is/cms/2024/W49/Freelinks/HomeDecor.png" alt="image" loading="lazy">
      </div>
      <div class="name">
        Home Deals
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://ke.jumia.is/cms/2024/W49/Freelinks/MusicSystems.png" alt="image" loading="lazy">
      </div>
      <div class="name">
        Deals On Soundbars
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://ke.jumia.is/cms/2024/W49/Freelinks/NewArrivals.png" alt="image" loading="lazy">
      </div>
      <div class="name">
        New Arrivals
      </div>
    </div>
  </div>
  {{end}}