{{define "PROFILE"}}
<div id="profile_div">
    <div id="left">
        <div id="links">
            <ul>
              <li id="link">
                <a href="/profile?name=account">
                  <i class="fas fa-user"></i>
                  My Account
                  <input type="hidden" value="account">
                </a>
              </li>
              <li id="link">
                <a href="/profile?name=orders">
                  <i class="fas fa-box"></i>
                  Orders
                  <input type="hidden" value="orders">
                </a>
              </li>
              <li id="link">
                  <i class="fas fa-inbox"></i>
                  Inbox
                  <input type="hidden" value="inbox">
              </li>
              <li id="link">
                  <i class="fas fa-heart"></i>
                  Saved Items
                  <input type="hidden" value="savedItems">
              </li>
              <li id="link">
                  <i class="fas fa-receipt"></i>
                  Vouchers
                  <input type="hidden" value="vouchers">
              </li>
              <li>
                <div class="signin">
                      <a href="/signout">
                        <button id="logout">Log Out</button>
                      </a>
                </div>
              </li>
            </ul>
          </div>
    </div>
    <div id="right">
        {{template "RIGHT_SECTION" .}}
    </div>
</div>
{{template "TOP DEALS"}}
{{end}}