{{define "PROFILE"}}
<div id="profile_div">
    <div id="left">
        <div id="links">
            <ul>
              <li>
                <a href="/profile">
                  <i class="fas fa-user"></i>
                  My Account
                </a>
              </li>
              <li>
                <a href="/orders">
                  <i class="fas fa-box"></i>
                  Orders
                </a>
              </li>
              <li>
                <a href="/inbox">
                  <i class="fas fa-inbox"></i> Inbox

                  Inbox
                </a>
              </li>
              <li>
                <a href="/wishlist">
                  <i class="fas fa-heart"></i>
                  Saved Items
                </a>
              </li>
              <li>
                <a href="/vouchers">
                  <i class="fas fa-receipt"></i>
                  Vouchers
                </a>
              </li>
              <li>
                <div class="signin">
                      <a href="/signout">
                        <button id="logout">Log Out</button>
                      </a>
                </div>
              </li>
            </ul>
          </div>
    </div>
    <div id="right">
        <div id="title">
            <h4>Account Overview</h4>
        </div>
        <div id="right_bottom">
            <div id="right_left">
                <div id="details">
                    <div id="account_title">
                        <h4>Account details</h4>
                    </div>
                    <div id="account_details">
                        <h4>
                            {{.FName}} {{.LName}}
                        </h4>
                        <p>{{.Phone}}</p>
                        <p>{{.Email}}</p>
                    </div>
                </div>
            </div>
            <div id="right_right">
                <div id="address_title">
                    <h4>Address Book</h4>
                </div>
                <div id="address_info">
                    <h4>Your default shipping address:</h4>
                    <p>
                        {{.FName}} {{.LName}}
                    </p>
                    <p>
                        Kisumu
                    </p>
                    <p>
                        Kondele/Migosi/ Lolwe/Carwash/Kibos, Kisumu
                    </p>
                    <p>
                        {{.Phone}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "TOP DEALS"}}
{{end}}