{{define "TOP"}}
<div class="top_div">
    <div class="left_div top_div_item">
      <ul>
        <li>
          <a href="">
            <i class="fas fa-shopping-bag"></i>
            Official Store
          </a>
        </li>
        <li>
        <a href="">
          <i class="fas fa-mobile-alt"></i>
          Phones & Tablet
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-tv tv-icon"></i>
          TVs & Audio
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-plug appliance-icon"></i> 
          Appliances
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-heart health-beauty-icon"></i> <!-- Heart Icon -->
          Health & Beauty
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-building"></i>
          Home & Office
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-tshirt"></i>
          Fashion
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-desktop"></i>
          Computing
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-building"></i>
          Supermarket
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-baby"></i>
          Baby Products
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-dumbbell"></i>
          Sporting Goods
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-ellipsis-h"></i>
          Other Categories
        </a>
      </li>
      </ul>
    </div>
    <div class="center_div top_div_item">
      <div class="carousel">
        <ul class="track">
          <li class="caro_img active">
            <img src="https://media.istockphoto.com/id/1344650328/vector/final-sale-red-motion-design-banner-template.jpg?s=612x612&w=0&k=20&c=eVin8zaOoU1zW8jU38qcyQJEVLjd8iKhGA7lwq7eqdE=" alt="">
          </li>
          <li class="caro_img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5L8jRgyoKPGAMW3ttyiM7ZsHO14bViA30zQ&s" alt="">
          </li>
          <li class="caro_img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcqXp8C5c_9PCHzc8n-B91vsISs19dvr5H4Q&s" alt="">
          </li>
          <li class="caro_img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQImGt1CNA9Eu0RJSpwUk6tz8MV_8-JRoLwUA&s" alt="">
          </li>
          <li class="caro_img">
            <img src="https://images.hindustantimes.com/img/2024/08/05/550x309/story_generic_1722841886375_1722841892291.jpg" alt="">
          </li>
        </ul>
      </div>
    </div>
    <div class="right_div top_div_item">
      <div class="top">
        <div class="help_center top_item" >
          <a href="">
            <div class="icon">
              <span><i class="fas fa-question-circle"></i></span>
            </div>
            <div class="text">
              <h5>HELP CENTER</h5>
              <P>Guide To Customer Care</P>
            </div>
          </a>
        </div>
        <div class="hot_deals top_item">
          <a href="/hotdeals">
            <div class="icon">
              <i class="fas fa-fire"></i>
            </div>
            <div class="text">
              <h5>HOT DEALS</h5>
              <P>Updated Daily</P>
            </div>
          </a>
        </div>
        <div class="sale top_item">
          <a href="">
            <div class="icon">
              <i class="fas fa-tags"></i>
            </div>
            <div class="text">
              <h5>SELL ON MYSHOP</h5>
              <P>Millions Of Visitors</P>
            </div>
          </a>
        </div>
      </div>
      <div class="bottom">
        <img src="https://ke.jumia.is/cms/2024/W51/CP/Sliders/KE_ONS_Krisi_TVS_1224_S.gif" alt="sale">
      </div>
    </div>
  </div>
  {{end}}